$c-text: var(--slate12);
$c-text-secondary: var(--slate11);

$c-background: var(--slate1);
$c-background-secondary: var(--slate2);

$c-border: var(--slate6);

$c-accent: var(--green10);
$c-accent-secondary: var(--green9);
$c-accent-hover: var(--green11);
$c-accent-active: var(--green10);

$c-error: var(--red10);
$c-error-secondary: var(--red9);

$c-error-hover: var(--red11);
$c-error-active: var(--red7);

$transition: 0.2s ease-in-out;